body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.experiment1 .box1 {
    background-color: red;
    top: 0;
    left: 0;
    z-index: 1;
}

.experiment1 .box2 {
    background-color: blue;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.experiment1 .box3 {
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 3;
}

.experiment2 .box1 {
    background-color: red;
    top: 0;
    left: 0;
    z-index: 3;
}

.experiment2 .box2 {
    background-color: blue;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.experiment2 .box3 {
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 1;
}

.experiment3 .box1 {
    background-color: red;
    top: 0;
    left: 0;
    z-index: 2;
}

.experiment3 .box2 {
    background-color: blue;
    top: 50px;
    left: 50px;
    z-index: 3;
}

.experiment3 .box3 {
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 1;
}